@import '../../scss/variable';
@import '../../scss/mixin';

.body {
    margin-top: $header-height;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

    @include mobile {
        margin-top: 0;
    }
}
