@import '../../scss/variable';
@import '../../scss/mixin';

.user {
    position: relative;

    &Link {
        padding: 8px;
        display: flex;
        align-items: center;
    }

    &Link:hover {
        background: $bg-hover-color;
    }

    &Content {
        margin-left: 12px;

        @include tablet {
            display: none;
        }

        &Title {
            @include textStyle(1.6rem, $black-color, 700);            
            line-height: 22px;
            margin-top: -3px;
        }

        &Description {
            @include textStyle(1.2rem, $light-gray, 400);
            line-height: 15px;
        }
    }

}
